<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76341613205-okoaue81384q6b1i3mcvvk6impglcj6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76341613205-okoaue81384q6b1i3mcvvk6impglcj6u</string>
	<key>API_KEY</key>
	<string>AIzaSyA9Sts94fw2WKkSSxdvKCPhZ5UyqVSX61o</string>
	<key>GCM_SENDER_ID</key>
	<string>76341613205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studyku.study</string>
	<key>PROJECT_ID</key>
	<string>studyku-cd0db</string>
	<key>STORAGE_BUCKET</key>
	<string>studyku-cd0db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76341613205:ios:052771614853402a4e019c</string>
</dict>
</plist>